@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.flex-container > h1 {
    font-size: 400%;
    display: flex;
    margin-top: 20%;
    justify-content: center ;
    align-items: center;
    color: #757575;
}
.background{
    background-image: url(/Webportofolio/Images/BackGround.jpg);
    background-position: center center;
    background-repeat: repeat-y;
    height: 100%;
    width: 99%
}
.flex-container > a{
    display: flexbox;
    justify-content: center;
    align-items: center;
    outline-offset: 5px;
    outline: 5px solid #757575;
    color: #757575;
    font-size: 150%;
    margin-left: 15%;
    text-decoration: none;

}
.flex-container > footer{
    font-size: 1vw;
    color: #757575;
    margin-left: 93%;
    margin-top: 23%;
    height: 99%;
    width: 7%;
}