/*Navbar*/
.Head{
    background-color: rgb(218, 255, 255);
    height: 100%;
    width: 100%;
    box-shadow: 0px 13px 10px 0px rgb(183, 189, 189);
}
.Navbar> ul{
    list-style-type: none;
    margin: 0%;
    font-size: 450%;
    padding-bottom: 0.3%;
}
.Navbar> ul >li{
    display: inline;
    padding-left: 10%;
}

@media (max-width: 35rem){
    .Navbar>ul {
        list-style-type: none;
        margin: 0%;
        font-size: 150%;
        padding-bottom: 0.3%;
        }

    .nav-link::before 
    {
        transition: 300ms;
        height: 2px;
        content: "";
        position: absolute;
        background-color: rgb(131, 111, 248);
    }
    body{
    margin:0;
    background-image: url(/Images/WhiteBackGround.jpg);
    background-size: 100% 1000%;
}

}

.Navbar> ul>li > a{
    padding-left: 1%;
    font-size: 3vw;
    text-decoration: none;
    color: rgb(177, 177, 255);
    font-family: 'Anton', sans-serif;
    opacity: 0.7;
}
/*About me*/
.Main-Text > h1{
    color: rgb(170, 156, 248);
    font-size: 350%;
    padding-left: 39vw;
    padding-top: 1vw;
    font-family: 'Anton', sans-serif;
}
.logo{
    height: 10%;
    width: 10%;
    padding-left: 39vw;
    padding-top: 1vw;
}

.Main-Text > p{
    font-family: 'Anton', sans-serif;
    color: rgb(131, 111, 248);
    font-size: 120%;
}
.Main-Text > p> a{
    text-decoration: none;
    color: rgb(131, 111, 248);
}
/*Contact*/
.Contact> ul>li{
    color: rgb(131, 111, 248);
    text-decoration: none;
    font-size: 200%;
}
.Contact-Text
{
    font-size: 100%;
    text-decoration: none;
    color: rgb(131,111,248);
    align-items: center;
    align-content: center;
}
.Contact > ul{
    list-style-type: none;
}
.Discord{
    color: rgb(131, 111, 248);
    font-size: 120%;
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: lighter;
}
/*Images*/
.WebsitePng{
    height: 7%;
    width: 7%;
    padding-left: 10vw;
    display: flex;
    align-content: center;
}
.RustPng{
    height: 13%;
    width: 13%;
    padding-left: 9vw;
    display: flex;
    align-content: center;
    
}
.Pictograms {
    height: 2%;
    width: 2%;
}

/*Central classes*/
body{
    margin:0;
    background-image: url(/Images/WhiteBackGround.jpg);
    background-size: 100% 100%;
}
/*Transitions*/

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: rgb(131, 111, 248);
}

.nav-link-ltr::before {
    width: 0%;
    bottom:2%;
}

.nav-link-ltr:hover::before {
    width: 100%;
}
.nav-link{
    position: relative;
}
/*Footer*/
.To-Top{
    color: rgb(168, 152, 255);
    font-size: 140%;
    opacity: 1;
    text-decoration: none;
}


.Copyrights {
    font-size: 1vw;
    color: #757575;
    margin-left: 93%;
    margin-top: 10vw;
    width: 7%;
}
#button{
    text-decoration: none;
    z-index: 99;
}
#button.show{
    position: fixed;
    opacity: 1;
    visibility: visible;
}