/*General classes*/
ul,body,main,html,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,p,a,h2,h3{
    font-family: Open Sans;
}
p{
    font-weight: 130;
    font-size: 110%;
}
.Head {
    background-color: rgb(218, 255, 255);
    height: 100%;
    width: 100%;
    box-shadow: 0px 13px 10px 0px rgb(183, 189, 189);
}
body {
    margin: 0;
    background-image: url(Images/WhiteBackGround.jpg);
    background-size: 100% 100%;
}
html{
    scroll-behavior: smooth;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Navbar*/
.Navbar> ul{
    list-style-type: none;
    margin: 0%;
    font-size: 450%;
    padding-bottom: 0.3%;
}
.Navbar> ul >li{
    display: inline;
    padding-left: 10%;
}
.Navbar> ul>li > a{
    padding-left: 1%;
    font-size: 3vw;
    text-decoration: none;
    color: rgb(177, 177, 255);
    font-family: 'Anton', sans-serif;
    opacity: 0.7;
}
/*Main-Text*/
.Main-Text > h1{
    color: rgb(170, 156, 248);
    font-size: 350%;
    padding-left: 39vw;
    padding-top: 1vw;
    font-family: 'Anton', sans-serif;
}
.Main-Text > p{
    font-family: 'Anton', sans-serif;
    color: rgb(131, 111, 248);
    font-size: 120%;
}
.Main-Text > p> a{
    text-decoration: none;
    color: rgb(131, 111, 248);
}
/*Contact*/
.Contact-Text {
    font-size: 100%;
    text-decoration: none;
    color: rgb(131, 111, 248);
    align-items: center;
    align-content: center;
}
.Contact-Text:visited{
    color: rgb(131, 111, 248);
}
.Contact > ul{
    list-style-type: none;
}
.Contact>ul>li {
    color: rgb(131, 111, 248);
    text-decoration: none;
    font-size: 200%;
}
.Discord{
    color: rgb(131, 111, 248);
    font-size: 110%;
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: lighter;
}
/*Images*/
.logo {
    height: 10%;
    width: 10%;
    padding-top: 1vw;
}
.WebsitePng{
    height: 7%;
    width: 7%;
}
.RustPng{
    height: 13%;
    width: 13%;
}
.Pictograms {
    height: 2%;
    width: 2%;
}
/*Transitions*/
.nav-link:hover {
    opacity: 1;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: rgb(131, 111, 248);
}
.nav-link-ltr::before {
    width: 0%;
    bottom:2%;
}
.nav-link-ltr:hover::before {
    width: 100%;
}
.nav-link{
    position: relative;
}
.To-Top:hover{
    transform: translateY(-5px);
}
.To-Top-A:hover{
    transform: translateY(-5px);
}
a:link{
    text-decoration: none !important;
}
a:visited{
    color: black;
}
/*Media quarries*/
@media (max-width: 35rem) {
    .Navbar>ul {
        list-style-type: none;
        margin: 0%;
        font-size: 150%;
        padding-bottom: 0.3%;
    }

    .nav-link::before {
        transition: 300ms;
        height: 2px;
        content: "";
        position: absolute;
        background-color: rgb(131, 111, 248);
    }

    body {
        margin: 0;
        background-image: url(/Images/WhiteBackGround.jpg);
        background-size: 100% 1000%;
    }
}
/*Footer*/
.Copyrights {
    font-size: 1vw;
    color: #757575;
    margin-left: 93%;
    width: 7%;
}
/*Top button*/
.To-Top{
    height: 0%;
    width: 80%;
    font-size: xx-small;
    transition: 0.2 ease-out;
    padding: 0;
    margin: 0;
    left: 10%;
    opacity: 1;
}
.To-Top-A{
    opacity: 0.4;
    right: 6%;
    left: 113rem;
    bottom: 2rem;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top right, rgb(197, 67, 67), rgb(0, 0, 143), rgb(61, 52, 52));
    border-radius: 0.5rem;
    text-decoration: none;
    width: 4%;
    height: 7%;
    padding: 0.2rem;
}
.To-Top-A > span{
    padding-left: 15%;
    margin: 0;
    border: 0;
    justify-content: center;
    align-items: center;
}
/* Projects*/
.List>li>img{
    position: relative;
    left: 46vw;
}
